.App {
  max-width: 600px;
  margin: 0 auto;
}

.navbar {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 5px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-left: 20px;
}